.auth-content {
    text-align: center;
    padding: 20px;
  }
  
  .profile-picture {
    background-color: #ddd; /* Placeholder color */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    background-image: url('UM.png'); /* Your profile picture here */
    background-size: cover;
    background-position: center;
  }
  
  .auth-question {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .auth-details {
    margin-bottom: 20px;
  }

  .custom-sliding-pane .slide-pane__content {
    background-color: #363F44; /* Your desired background color */
    color: white; /* Adjust text color for visibility */
  }

  .response-buttons button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  .custom-sliding-pane .auth-content {
    color: white; /* Ensure text is readable against the dark background */
  }
  
  .custom-sliding-pane .response-buttons button {
    margin: 10px;
    border: none;
    background-color: transparent;
    color: white; /* Adjust based on your design preference */
    cursor: pointer;
    font-size: 16px; /* Adjust size as needed */
  }
  
  .yes-button {
    color: #4CAF50; /* Green */
  }
  
  .no-button {
    color: #F44336; /* Red */
  }